global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'frontNode1'
    scrape_interval: 5s
    static_configs:
    - targets: 
      - '172.16.1.2:9100'
  - job_name: 'frontNode2'
    scrape_interval: 5s
    static_configs:
    - targets:
      - '172.16.1.4:9100'
  - job_name: 'backNode1'
    scrape_interval: 5s
    static_configs:
    - targets:
      - '192.168.2.4:9100'
  - job_name: 'backNode2'
    scrape_interval: 5s
    static_configs:
    - targets: 
      - '192.168.2.6:9100'
  - job_name: 'LodaBalancer'
    scrape_interval: 5s
    static_configs:
    - targets: 
      - '172.16.1.1:9100'
  - job_name: 'inerRouter'
    scrape_interval: 5s
    static_configs:
    - targets: 
      - '10.10.255.1:9100'
  - job_name: 'rsyslog'
    scrape_interval: 5s
    static_configs:
    - targets: 
      - '192.168.2.12:9100'
  - job_name: 'Backup'
    scrape_interval: 5s
    static_configs:
    - targets: 
      - '192.168.2.13:9100'
  - job_name: 'Monitoring'
    scrape_interval: 5s
    static_configs:
    - targets: 
      - 'localhost:9100'

  - job_name: 'blackbox-http'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - 'http://172.16.1.2'
        - 'http://172.16.1.4'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 'localhost:9115'

rule_files:
  - alert.rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - 'localhost:9093'
