[{{ barman_master_node }}]
#Описание задания
description = "backup {{ barman_master_node }}"
#Команда подключения к хосту node1
ssh_command = ssh postgres@{{ master_ip }}
#Команда для подключения к postgres-серверу
conninfo = host={{ master_ip }} user={{ barman_user }} port=5432 dbname=postgres
retention_policy_mode = auto
retention_policy = RECOVERY WINDOW OF 7 days
wal_retention_policy = main
streaming_archiver=on
#Указание префикса, который будет использоваться как $PATH на хосте {{ barman_master_node }}
path_prefix = /usr/pgsql-14/bin/
#настройки слота
create_slot = auto
slot_name = node1
#Команда для потоковой передачи от postgres-сервера
streaming_conninfo = host={{ master_ip }} user={{ barman_user }} 
#Тип выполняемого бекапа
backup_method = postgres
archiver = off
