# /etc/systemd/system/borg-backup.service
[Unit]
Description=Borg Backup

[Service]
Type=oneshot

# Парольная фраза
Environment="BORG_PASSPHRASE={{ borgbackup_passphrase }}"
# Репозиторий
Environment="REPO=borg@192.168.60.160:/var/backup/"
# Что бэкапим
Environment="BACKUP_TARGET=/etc"

# Создание бэкапа
ExecStart=/bin/borg create \
    --stats \
    ${REPO}::etc-{now:%%Y-%%m-%%d_%%H:%%M:%%S} ${BACKUP_TARGET}

# Проверка бэкапа
ExecStart=/bin/borg check ${REPO}

# Очистка старых бэкапов
ExecStart=/bin/borg prune \
    --keep-daily  90 \
    --keep-monthly 12 \
    --keep-yearly 1 \
    ${REPO}
